<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Complaints</h1>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= render "search" %>
      <%= render "table", complaints: @complaints  %>

      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
